:root {
	--eco-wallpaper: #384438;

	/* Base colors */
	--eco-red: #f32c61;
	--eco-green: #4d8468;
	--eco-orange: #f55023;
	--eco-blue: #6495ed;
	--eco-white: #f0fff0;

	/*         Dark variants        */
	/*  Dark white just means gray. */
	/*    I know. Relax about it.   */
	--eco-dark-red: #c70c3e;
	--eco-dark-green: #4f6d5e;
	--eco-dark-orange: #ca5c3f;
	--eco-dark-blue: #2164df;
	--eco-dark-white: #dce9e9;

	/* Dynamic (transparent) rendering */
	--darker-than-back: #00000030;
	--lighter-than-back: #ffffff30;
}
