/*
* * * * * * * * * * * *
*                     *
*  Part of EcoDesign  *
*                     *
* * * * * * * * * * * *
*/

#instagram-feed {
	padding-top: 2%;
	padding-bottom: 2%;
}
	#instagram-feed h3 {
		margin-bottom: 40px;
		font-size: 50px;
		color: var(--eco-green);
	}

.instagram-viewport {
	/* text-align: center; */
	padding: 0%;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	height: fit-content;
	/* background-color: var(--darker-than-back); */
}

.instagram-post {
	background-color: var(--eco-dark-green);
	display: inline-block;
	outline: none;
	padding: 15px;
	margin: 15px;
	border: solid 3px var(--eco-dark-orange);
	border-radius: 0 20px 0 20px;
	box-shadow: -10px 8px 0px var(--eco-dark-orange);
	width: 400px;
	height: 500px;
	position: relative;
}

.post-carousel {
	width: 360px;
	height: 360px;
	border-radius: 20px;
	box-shadow: 1px 1px 5px black;
	overflow: hidden;
	margin-bottom: 10px;
	/* margin-left: 5px; */
	/* background-color: blueviolet; */
	z-index: 24;
	position: absolute;
}
	.post-carousel .content {
		/* position: absolute; */
		/* top: 0; left: 0; */
		width: 360px;
		height: 360px;
		background-repeat: no-repeat;
		border-radius: 20px;
		z-index: 24;
		object-fit: fill;
	}

.instagram-post-date {
	/* margin-top: 100px; */
	/* background-color: blue; */
	/* text-align: left; */
	color: var(--eco-white);
	margin-left: 10px;
}

.arrow {
	position: absolute;
	/* top: 150px; */
	transition: all 1s;
	height: 30px;
	width: 15px;
	/* display: inline-block; */
	filter: invert(.6);
	z-index: 50;
	/* z-index: 25; */
	cursor: pointer;
	opacity: 55%;
	top: 180px;
}
	.arrow:hover {
		opacity: 85%;
	}

.arrow.next {
	right: 6%;
}

.arrow.back {
	left: 6%;
	transform: scaleX(-1);
}

/* 
.instagram-island img {
	width: 350px;
	height: 350px;
	border-radius: 15px;
	box-shadow: 1px 1px 3px black;
}

.instagram-island .carousel.slide,
.instagram-island .carousel.slide .carousel-inner,
.instagram-island .carousel-item img {
	transition: all .2s;
	width: 350px;
	height: 350px;
	border-radius: 15px;
}

.carousel.slide {
	text-align: center;
}
*/
