/*
* * * * * * * * * * * *
*                     *
*  Part of EcoDesign  *
*                     *
* * * * * * * * * * * *
*/

#instagram-feed {
	padding-top: 3%;
	padding-bottom: 3%;
}

.instagram-viewport {
	padding: 0%;
	text-align: center;
}

.instagram-island {
	background-color: var(--eco-dark-green);
	display: inline-block;
	outline: none;
	padding: 15px;
	margin: 15px;
	border: solid 3px var(--eco-dark-orange);
	border-radius: 0 25px 0 25px;
	box-shadow: -10px 8px 0px var(--eco-dark-orange);
	width: 400px;
	height: 500px;
}

.instagram-island .carousel.slide,
.instagram-island .carousel.slide .carousel-inner,
.instagram-island .carousel-item img {
	transition: all .2s;
	width: 350px;
	/* height: 350px; */
	border-radius: 15px;
	/* color: var(--eco-red); */
}

.carousel.slide {
	text-align: center;
}