/*
* * * * * * * * * * * *
*                     *
*  Part of EcoDesign  *
*                     *
* * * * * * * * * * * *
*/

@import url('colors.css');


#instagram-feed {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
	#instagram-feed h3 {
		color: #222222;
		margin-top: 5px;
	}

	#instagram-feed .content {
		/* background-color: #8b451388; */
		border-radius: 15px;
		width: 100%;
		height: 100%;
		padding: .8%;
	}

#instagram-feed #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-template-classic {
	background-color: var(--eco-orange) !important;
}

.eapps-instagram-feed-posts-item-template-classic {
	border-radius: 15px;
	border: solid saddlebrown;
}

.eapps-instagram-feed-posts-item-text,
.eapps-instagram-feed-posts-item-date {
	font-weight: bold;
}

.eapps-instagram-feed-posts-item-image {
	border-radius: 15px;
	/* box-shadow: 2px 2px 5px black; */
}
